#popular-items-container #heading {
  color: var(--theme-gray-900, #212121);
  text-align: center;
  margin-bottom: 80px;
  /* Headline 4 Bold */
  font-family: "Poppins";
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 48.16px */
}
#popular-items-container {
  width: 100%;
}
#popular-items-container .row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
}

.col-4 {
  flex-basis: 25%;
  /* padding: 50px; */
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 250px;
  margin-bottom: 20px;
  border-radius: 5%;
}

.col-4 p {
  color: var(--theme-gray-800, #424242);
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 120%; /* 26.4px */
}
.col-4 button {
  display: flex;
  width: 250px;
  padding: 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--theme-warning, #f17228);
  cursor: pointer;
  /* Shadow/2 */
  box-shadow: 0px 20px 40px 0px rgba(250, 99, 35, 0.24),
    0px 5px 10px 0px rgba(253, 114, 92, 0.22);
  color: var(--theme-white, #fff);
  text-align: center;

  /* Button Bold */
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 18px */
  border: none;
}

.mt-5 {
  margin-top: 80px;
  margin-bottom: 80px;
}
