#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 80px;
}
#showcase img {
  width: 300px;
  /* height: 300px; */
  margin: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: lightgray 50% / cover no-repeat;
}

#showcase p {
  color: var(--theme-gray-800, #424242);
  font-family: "Poppins";
  font-size: 18px;
  margin: 0 0 10px 15px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
}

#showcase button {
  display: inline-flex;
  margin-left: 10px;
  padding: 5px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  background: rgba(241, 114, 40, 0.2);
  border: none;
  color: var(--theme-warning, #f17228);
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
